body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(120deg,#1e3c72,#2a5298);
    color: white;
}

nav {
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    background:#00000070;
}

nav a {
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero {
    text-align:center;
    margin-top:120px;
}

.btn-main {
    background:#00ffcc;
    padding:15px 30px;
    border-radius:8px;
    color:black;
    font-weight:bold;
    text-decoration:none;
}

.card {
    width:420px;
    margin:80px auto;
    background:white;
    color:black;
    padding:35px;
    border-radius:15px;
}

.card h1 {
    text-align:center;
}

select, input, button {
    width:100%;
    margin:10px 0;
    padding:12px;
    border-radius:8px;
}

button {
    background:#1e3c72;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover {
    background:#16305c;
}

footer {
    text-align:center;
    margin-top:120px;
}

.loader {
    border:5px solid #eee;
    border-top:5px solid #1e3c72;
    border-radius:50%;
    width:40px;
    height:40px;
    margin:20px auto;
    animation:spin 1s linear infinite;
}

.hidden {display:none;}

@keyframes spin {
    100% {transform:rotate(360deg);}
}
